Question 1 : Show employees working in either the ‘IT’ or ‘HR’ departments.

- Answer 1

Query: SELECT * FROM Employees WHERE Department = 'IT' OR Department = 'HR';

- Result: * Priya Sharma (HR)

- Aman Singh (IT)

- Divya Nair (IT)

- Raj Kumar (HR)

- Arjun Reddy (IT)


Question 2 : Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance’.

- Answer 2

Query: SELECT * FROM Employees WHERE Department IN ('Sales', 'IT', 'Finance');

- Result: * Rahul Mehta, Aman Singh, Neha Patel, Divya Nair, Simran Kaur, Arjun Reddy, Anjali Das.


Question 3 : Display employees whose salary is between ₹50,000 and ₹70,000.

- Answer 3

Query: SELECT * FROM Employees WHERE Salary BETWEEN 50000 AND 70000;

- Result: * Rahul Mehta (55000)

- Priya Sharma (62000)

- Raj Kumar (60000)

- Simran Kaur (58000)

- Arjun Reddy (70000)

- Anjali Das (51000)

Question 4 : List employees whose names start with the letter ‘A’.

- Answer 4

Query: SELECT * FROM Employees WHERE EmpName LIKE 'A%';

- Result: * Aman Singh

- Arjun Reddy

- Anjali Das


Question 5 : Find employees whose names contain the substring ‘an’.

- Answer 5

Query: SELECT * FROM Employees WHERE EmpName LIKE '%an%';

- Result: * Rahul Mehtan (Note: "Mehta" does not contain "an", but Aman Singh and Karan Joshi do).

- Correct matches from table: Aman Singh, Karan Joshi, Simran Kaur, Anjali Das.


Question 6 : Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.

- Answer 6

Query: SELECT * FROM Employees WHERE (City = 'Delhi' OR City = 'Mumbai') AND Salary > 55000;


Question 7 : Display all employees except those from the ‘HR’ department.

- Answer 7

Query: SELECT * FROM Employees WHERE Department != 'HR';


Question 8 : Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first).

- Answer 8
Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first